.box1{
    width: 100px;
    height: 100px;
    background: rgb(240, 87, 113);
}
.boxImg{
    width: 200px;
    height: 200px;
    display: inline-block;
}
.boxImg1{
    background-image:url(../../image/manhua.jpg);
    background-size: cover;
}
.boxImg2{
    background-image:url(../../image/dong.gif);
    background-size: cover;
}
.boxImg3{
    background-image:url(../../image/dog.webp);
    background-size: cover;
}

.iconfont{
    font-size: 40px;
    transition: .5s;
}
.iconfont:hover{
    font-size: 80px;
}